.GraduateSchool::before {
	content: "\f501";
}

.LowKeyBiology::before {
	content: "\f5dc";
}

.Outreach::before {
	content: "\f4c2";
	top: -0.2em;
}

.TechniquesExamined::before {
	content: "\f085";
}