/*Font-Awsome layered logo*/
/*<span class="fa-logo">
	<i class="fas fa-brain" data-fa-transform="grow-2"></i>
    <i class="fas fa-dna fa-inverse" data-fa-transform="shrink-10 left-4"></i>
    <i class="fas fa-microscope fa-inverse" data-fa-transform="shrink-10 right-4"></i>
</span>*/

.GraduateSchool::before {
	content: "\f501";
}

.LowKeyBiology::before {
	content: "\f5dc";
	left: -0.3em;
}

 .Outreach::before {
 	content: "\f4c2";
}

 .TechniquesExamined::before {
 	content: "\f085";
}