{% extends "base.html" %}
{% block title %}{{ SITENAME }} Search {% endblock %}
{% block content %}

<div class="entry-content">
	<script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.min.js"></script>
<script>
    $(document).ready(function() {
        $('#tipue_search_input').tipuesearch({
            'show': 8,
            'mode': 'json',
            'contentLocation': 'tipuesearch_content.json'
        });
    });
</script>
<div id="tipue_search_content">
    <div id="tipue_search_loading"></div>
</div>
</div>
{% endblock %}